# Traefik
DOMAIN=example.com
# GHCR
GHCR_ORG=your-github-org
# db-client
SUPABASE_CONN_STRING=
SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_ANON_KEY=
TEST_USER_UUID=
# get-places-data
GOOGLE_API_KEY=
# image-to-json
GROQ_API_KEY=
